.customers-list__controls {
  display: flex;
  align-items: center;
}

.input-wrapper {
  position: relative;
  width: 216px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.search-input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #f9fbff;
  color: #292d32;
}

.search-input::placeholder {
  color: #b5b7c0;
}

.customers-list {
  letter-spacing: -1;
  width: 968px;
  margin: 124px 0 262px 75px;
  padding: 34px 46px 36px 36px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &__flex {
      display: flex;
      flex-direction: column;

      .filter-button {
        background: none;
        font-weight: 400;
        margin-top: 7px;
        border: none;
        text-align: start;
        width: 120px;
        font-size: 14px;
        height: 21px;
        border-radius: 4px;
        cursor: pointer;
        color: #16c098;
        transition: 0.4s;

        &:hover {
          color: #0e866a;
        }

        &.active {
          color: #f44336;

          &:hover {
            color: #0e866a;
          }
        }
      }
    }

    h1 {
      font-size: 22px;
      font-weight: 600;
    }

    .customers-list__controls {
      display: flex;
      align-items: center;
      margin-right: 24px;

      input {
        width: 216px;
        padding: 9px 9px 9px 42px;
        margin-right: 9px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: #f9fbff;
        color: #292d32;

        &::placeholder {
          color: #b5b7c0;
        }
      }
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    tr {
      border-bottom: 1px solid #eeeeee;

      td {
        &:last-child {
          display: grid;
          place-items: end;
        }
      }
    }

    th,
    td {
      margin: 20px 0;
      text-align: left;
      font-size: 14px;
      font-weight: 500;
    }

    th {
      color: #b5b7c0;
      padding-bottom: 14px;
      border-bottom: 1px solid #eeeeee;

      &:last-child {
        text-align: end;
        padding-right: 24px;
      }
    }

    td {
      color: #292d32;
    }

    .status {
      width: 80px;
      height: 30px;
      display: grid;
      place-items: center;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 500;

      &.active {
        background-color: #16c09859;
        color: #008767;
        border: 1px solid #00b087;
      }

      &.inactive {
        border: 1px solid #df0404;
        background-color: #ffc5c5;
        color: #df0404;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    span {
      color: #b5b7c0;
      font-size: 14px;
      font-weight: 500;
    }

    .pagination {
      display: flex;
      gap: 12px;

      .ellipsis {
        color: #000000;
        cursor: default;
      }

      button {
        display: grid;
        place-items: center;
        color: #404b52;
        background-color: #f5f5f5;
        width: 26px;
        height: 24px;
        font-size: 12px;
        font-weight: 500;
        border: 1px solid #eeeeee;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: #d8d8d8;
        }

        &.active {
          background-color: #5932ea;
          color: #fff;
          border: none;
        }
      }
    }
  }
}
