.sidebar__nav__item,
.sidebar__nav__item--active {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.sidebar__nav__item:focus,
.sidebar__nav__item--active:focus {
  outline: none;
  color: inherit;
}

.sidebar__nav__item:active,
.sidebar__nav__item--active:active {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.sidebar {
  width: 306px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  display: flex;
  flex-direction: column;

  &__header {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 36px 0 64px 26px;

    &__title {
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 1;
      margin-left: 8px;
    }

    &__version {
      font-size: 12px;
      color: #aaa;
      margin: 9px 0 0 4px;
    }

    &__logo {
      width: 50px;
      height: auto;
    }
  }

  &__nav {
    margin-left: 26px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__arrow {
      margin-left: auto;
    }

    &__item {
      font-size: 14px;
      font-weight: 400;
      width: 250px;
      padding: 11px 8px 11px 11px;
      height: 46px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      transition: background-color 0.3s;
      cursor: pointer;
      color: #9197b3;

      &:hover:not(.sidebar__nav__item--active) {
        background-color: #f0f0f0;
      }

      &:focus {
        color: #9197b3;
      }

      &--active {
        background-color: #5932ea;
        color: #fff;

        .sidebar__nav__icon,
        .sidebar__nav__arrow,
        .sidebar__nav__text {
          color: #fff;
        }
      }

      &__text {
        flex-grow: 1;
      }
    }
    .sidebar__nav__icon {
      width: 24px;
      height: auto;
      margin-right: 14px;
    }
  }
}

@media (max-width: 1024px) {
  .sidebar {
    width: 300px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -300px;
    height: 100%;
    background: #fff;
    transition: left 0.5s ease;

    &.visible {
      left: 0;
    }

    &__header {
      margin: 36px 0 64px 26px;
    }

    &__nav {
      margin-left: 26px;

      ul {
        gap: 18px;
      }

      &__item {
        width: 250px;
        height: 46px;
      }
    }
  }
}
@media (min-width: 1024px) {
  .sidebar {
    width: 240px;

    &__header {
      margin: 36px 0 44px 16px;
    }

    &__nav {
      margin-left: 12px;

      ul {
        gap: 14px;
      }

      &__item {
        width: 210px;
        height: 46px;
      }
    }
  }
}
@media (min-width: 1400px) {
  .sidebar {
    width: 306px;

    &__header {
      margin: 36px 0 64px 26px;
    }

    &__nav {
      margin-left: 26px;

      ul {
        gap: 18px;
      }

      &__item {
        width: 250px;

        height: 46px;
      }
    }
  }
}
